html {
 min-height: 100%;
}

body {
  background-color: #151823;
  color: #e8e8e8;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Yu Gothic UI','Meiryo UI',"sans-serif";
}

h1 {
  color: rgb(72, 255, 0);
  text-align: center;
  font-family: 'Segoe Script','Zapfino',"cursive";
}

h2 {
  color: #FFF;
  margin-left: 10px;
  margin-right: 10px;
  font-size:  24px;
  padding-bottom:  5px;
  margin-bottom: 15px;
  position:  relative;
  font-weight:  normal;
  clear: both;
}

h2:before {
  content:  '';
  width: 200px;
  height: 4px;
  background-color: rgb(0, 255, 128);
  display:  block;
  position:  absolute;
  bottom: -6px;
}

p {
  margin-left: 30px;
  margin-right: 15px;
  padding-top: 1px;
}

#account {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
}

img {
  width: 35px;
  vertical-align: -10px;
}

#twitter {
  background-color: #1DA1F3;
  color: #FFF;
  border-radius: 5px;
  padding : 7px;
  text-decoration: none;
  margin: 10px;
  float:left;
}

#discord {
  background-color: #2C2F33;
  color: #FFF;
  border-radius: 5px;
  padding : 7px;
  display: inline;
  margin: 10px;
  float:left;
}

#github {
  background-color: #292F35;
  color: #FFF;
  border-radius: 5px;
  padding : 7px;
  text-decoration: none;
  margin: 10px;
  float:left;
}

#reddit {
  background-color: #424242;
  color: #FFF;
  border-radius: 5px;
  padding : 7px;
  text-decoration: none;
  margin: 10px;
  float:left;
}

a:hover {
  opacity: 0.5;
}

#blogLink {
  color: #FFF;
  font-size: 20px;
}